[submodule "language"]
	path = language
	url = https://github.com/bill-richards/natural-language-processing.git
[submodule "evolution/libraries/gsdsc-common"]
	path = evolution/libraries/gsdc-common
	url = https://github.com/bill-richards/gsdc-common.git
